.dropdown{
    width: 50%;
    outline: none;
    border: 1px solid black;
    background-color: white;
    width: 300px;
    border-radius: 3px;
}

.dropdown-item{
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.dropdown-item:hover{
    background-color: #eee;
}