.twitter-input-wrapper{
    position: relative;
}

.twitter-input-dropdown{
    position: absolute;
    left: 0;
    bottom: -30px;
    position: absolute;
    left: 0;
    padding: 0.5rem 1rem;
    bottom: -50px;
    outline: none;
    border: 1px solid gainsboro;
    background-color: white;
    width: 300px;
}